.hero {
  text-align: center;
  margin-top: 10rem;
  font-size: 2rem;

  &-secondary {
    text-align: center;
  }

  &-bottom {
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
}

.fa-angle-down {
  display: flex;
  justify-content: center;
}

.button {
  margin: 0 auto;
  text-align: center;
  max-width: 10rem;
  border: 0;
  background: #84b87f;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);
}
