.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 75%;

  }

  &-button {
    padding: 0.5rem;
    width: 100%;
    max-width: 100%;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 0.5rem;
  }
}

input {
  text-align: start;
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: lighter;
  width: 100%;
  border: 0;
  border-radius: 0.4rem;
}

.login {
   display: flex;
   justify-content: center;
   margin-bottom: 1rem;
   font-size: 2rem;
   color: $c-darkgray;

  &-logo {
  display: flex;
  margin: auto;
}
  &-signup {
    text-align: center;
    margin: 1rem;
    margin: auto;
    padding: 1rem;
    width: 70%;
    font-size: 0.9rem;
    color: $c-gray;


    &__link {
      text-decoration: underline;
      &:hover {
        color: $c-darkgray;
      }
    }
  }
}
