{{top-nav}}

<h2 class="hero">Never Miss A Deal Again</h2>
<h4 class="hero-secondary">Let us find the hottest deals for you!</h4>
<p class="button">{{#link-to "pricing"}}Sign Up for Free{{/link-to}}</p>
<h5 class="hero-bottom">Learn More</h5>
<i class="fa fa-3x fa-angle-down animated bounce"></i>
