{{top-nav}}

<h2 class="hero">Finding Deals Just Got Easier</h2>
<h4 class="hero-secondary">Tell us what you want, for how much and we go find it!</h4>
<p class="button">{{#link-to "Sign-up"}}Sign Up for Free{{/link-to}}</p>
<h5 class="hero-bottom">Learn More</h5>
<i class="fa fa-3x fa-angle-down animated bounce"></i>
<section class="pricing-section">
{{pricing-component}}
</section>
{{outlet}}
