<div class="top-nav">
  <nav class="nav">
    <h1>{{#link-to "index"}}<img class="logo" src="../../../img/dealasset1.png">{{/link-to}}</h1>
    <div>
      <ul class="nav-menu">
        {{#if session.isAuthenticated}}
        {{!-- <li class="nav-item">{{#link-to "about"}}About{{/link-to}}</li> --}}
        <li class="nav-item">{{#link-to "user"}}User{{/link-to}}</li>
        <li class="nav-item">{{#link-to "logout"}}Logout{{/link-to}}</li>
        {{else}}
        <li class="nav-item">{{#link-to "pricing"}}Pricing{{/link-to}}</li>
        <li class="nav-item">{{#link-to "login"}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="mobile-nav-menu fa fa-bars" {{action "toggleBody"}}> Menu
        {{#if isShowingBody}}
        {{#if session.isAuthenticated}}
        {{!-- <li class="mobile-nav-item">{{#link-to "about"}}About{{/link-to}}</li> --}}
        <li class="mobile-nav-item">{{#link-to "user"}}User{{/link-to}}</li>
        <li class="mobile-nav-item">{{#link-to "logout"}}Logout{{/link-to}}</li>
        {{else}}
        <li class="mobile-nav-item">{{#link-to "pricing"}}Pricing{{/link-to}}</li>
        <li class="mobile-nav-item">{{#link-to "login"}}Login{{/link-to}}</li>
        {{/if}}
        {{/if}}
      </ul>
    </div>
  </nav>
</div>

{{yield}}
