<h1>{{#link-to "index"}}<img class="logo login-logo" src="../img/dealasset1.png">{{/link-to}}</h1>
<h2 class="login">Sign Up</h2>
 {{#simple-form class="form" onsubmit=(action "saveForm") as | formValues |}}
<div class="form-card">
  {{input type="text" value=formValues.email placeholder="email"}}
  {{input type="text" value=formValues.username placeholder="username"}}
  {{input type="password" value=formValues.password placeholder="password"}}
  <button class="button form-button" type="submit">Sign Up</button>
</div>
   {{/simple-form}}
<p class="login-signup">Already have a Deal Fye account? {{#link-to "login" class="login-signup__link"}}Login.{{/link-to}}</p>
{{outlet}}
